#contactInfo
    table
        tbody
            tr#profileForename
                td.label forename
                td.content
            tr#profileSurname
                td.label surname
                td.content
            tr#profileEmail
                td.label email
                td.content
            tr#profilePhone
                td.label phone
                td.content
            tr#profileOccupation
                td.label occupation
                td.content
            tr#profileLocation
                td.label location
                td.content
            tr#profileAbout
                td.label about
                td.content