.header
    .jumbotron
        .text
            h1 Simple contact app
    .component-list
        ul
            li
                a(href="/") home
            li
                a(href="/contactcollection") contact collection
            li
                a(href="/newcontact") new contact
            li
                a(href="/mail") mail