doctype html
html
    head
        title= title
        script(src='/js/jquery.min.js')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        script(src='/js/bootstrap.min.js')
        block scripts
        block stylesheets
    body
        include header
        include error

        block content

        include footer