.header {
  background-color: #9b9b9b;
  margin-left: 0;
  margin-right: 0; }
  .header .jumbotron {
    padding-bottom: 10px;
    margin-bottom: 0;
    text-align: center;
    background-color: #db676a; }
    .header .jumbotron .text {
      margin: 0;
      text-align: left;
      display: inline-block; }
      .header .jumbotron .text h1 {
        display: inline-block; }
      .header .jumbotron .text p {
        display: inline-block; }
  .header .component-list {
    text-align: center; }
    .header .component-list ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .header .component-list ul li {
        padding: 3px 10px 3px 10px;
        font-weight: 600;
        display: inline-block;
        -webkit-transition-property: background-color;
        -moz-transition-property: background-color;
        -o-transition-property: background-color;
        transition-property: background-color;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s; }
        .header .component-list ul li a {
          color: #f3f3f3;
          -webkit-transition-property: color;
          -moz-transition-property: color;
          -o-transition-property: color;
          transition-property: color;
          -webkit-transition-duration: 0.2s;
          -moz-transition-duration: 0.2s;
          -o-transition-duration: 0.2s;
          transition-duration: 0.2s; }
        .header .component-list ul li:hover {
          background-color: #373737; }
          .header .component-list ul li:hover a {
            text-decoration: none;
            color: #db676a; }

#footer {
  background-color: #d7d7d7;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px 0 5px 0; }
  #footer .container .row .col-sm-6 {
    text-align: center; }

* {
  box-sizing: border-box; }

html {
  position: relative;
  height: 100%;
  min-height: 100%;
  font: 14px/1.4 "Lucida Grande", Helvetica, Arial, sans-serif; }

body {
  background-color: #f3f3f3; }

h2 {
  margin: 0 0 .5em 0; }

fieldset {
  border: 0;
  padding: 0;
  margin: 0; }

.container {
  height: 100%;
  min-height: 100%;
  top: 0;
  bottom: 0; }
  .container .row {
    text-align: center; }

.button-style, button {
  border: 2px solid #d65e64;
  border-radius: 3px;
  font-weight: 600;
  color: #373737;
  background-color: #db676a;
  padding: 6px 9px 6px 9px;
  -webkit-transition-property: background-color, color;
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s; }
  .button-style:hover, button:hover {
    background-color: #d65e64;
    color: #f3f3f3; }

.error-message {
  opacity: 0;
  text-align: center;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #d5302f;
  color: #f3f3f3; }
